* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1070px;
    max-width: 100%;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    max-width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.box,
.box-nested {
    min-height: 50px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 15px;
}

.box-nested {
    background: yellowgreen;
    background-color: blue;
}

[class*="col-"] {
    flex: 0 0 auto;
}

[class*="col-offset"] {
}

/* 12 System */

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-xs-1 {flex-basis: calc((100% / 12) * 1); max-width: calc((10% 12) * 1);}
.col-xs-2 {flex-basis: calc((100% / 12) * 2); max-width: calc((10% 12) * 2);}
.col-xs-3 {flex-basis: calc((100% / 12) * 3); max-width: calc((10% 12) * 3);}
.col-xs-4 {flex-basis: calc((100% / 12) * 4); max-width: calc((10% 12) * 4);}
.col-xs-5 {flex-basis: calc((100% / 12) * 5); max-width: calc((10% 12) * 5);}
.col-xs-6 {flex-basis: calc((100% / 12) * 6); max-width: calc((10% 12) * 6);}
.col-xs-7 {flex-basis: calc((100% / 12) * 7); max-width: calc((10% 12) * 7);}
.col-xs-8 {flex-basis: calc((100% / 12) * 8); max-width: calc((10% 12) * 8);}
.col-xs-9 {flex-basis: calc((100% / 12) * 9); max-width: calc((10% 12) * 9);}
.col-xs-10 {flex-basis: calc((100% / 12) * 10); max-width: calc((10% 12) * 10);}
.col-xs-11 {flex-basis: calc((100% / 12) * 11); max-width: calc((10% 12) * 11);}
.col-xs-12 {flex-basis: calc((100% / 12) * 12); max-width: calc((10% 12) * 12);}
.col-xs-offset-1 {margin-left: calcl((100% / 12) *1); max-width: calc((10% 12) * 1);}
.col-xs-offset-2 {margin-left: calcl((100% / 12) *2); max-width: calc((10% 12) * 2);}
.col-xs-offset-3 {margin-left: calcl((100% / 12) *3); max-width: calc((10% 12) * 3);}
.col-xs-offset-4 {margin-left: calcl((100% / 12) *4); max-width: calc((10% 12) * 5);}
.col-xs-offset-5 {margin-left: calcl((100% / 12) *5); max-width: calc((10% 12) * 5);}
.col-xs-offset-6 {margin-left: calcl((100% / 12) *6); max-width: calc((10% 12) * 6);}
.col-xs-offset-7 {margin-left: calcl((100% / 12) *7); max-width: calc((10% 12) * 7);}
.col-xs-offset-8 {margin-left: calcl((100% / 12) *8); max-width: calc((10% 12) * 8);}
.col-xs-offset-9 {margin-left: calcl((100% / 12) *9); max-width: calc((10% 12) * 9);}
.col-xs-offset-10 {margin-left: calcl((100% / 12) *10); max-width: calc((10% 12) * 10);}
.col-xs-offset-11 {margin-left: calcl((100% / 12) *11); max-width: calc((10% 12) * 11);}
.col-xs-offset-12 {margin-left: calcl((100% / 12) *12); max-width: calc((10% 12) * 12);}

.col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-sm-1 {flex-basis: calc((100% / 12) * 1); max-width: calc((10% 12) * 1);}
.col-sm-2 {flex-basis: calc((100% / 12) * 2); max-width: calc((10% 12) * 2);}
.col-sm-3 {flex-basis: calc((100% / 12) * 3); max-width: calc((10% 12) * 3);}
.col-sm-4 {flex-basis: calc((100% / 12) * 4); max-width: calc((10% 12) * 4);}
.col-sm-5 {flex-basis: calc((100% / 12) * 5); max-width: calc((10% 12) * 5);}
.col-sm-6 {flex-basis: calc((100% / 12) * 6); max-width: calc((10% 12) * 6);}
.col-sm-7 {flex-basis: calc((100% / 12) * 7); max-width: calc((10% 12) * 7);}
.col-sm-8 {flex-basis: calc((100% / 12) * 8); max-width: calc((10% 12) * 8);}
.col-sm-9 {flex-basis: calc((100% / 12) * 9); max-width: calc((10% 12) * 9);}
.col-sm-10 {flex-basis: calc((100% / 12) * 10); max-width: calc((10% 12) * 10);}
.col-sm-11 {flex-basis: calc((100% / 12) * 11); max-width: calc((10% 12) * 11);}
.col-sm-12 {flex-basis: calc((100% / 12) * 12); max-width: calc((10% 12) * 12);}
.col-sm-offset-1 {margin-left: calcl((100% / 12) *1); max-width: calc((10% 12) * 1);}
.col-sm-offset-2 {margin-left: calcl((100% / 12) *2); max-width: calc((10% 12) * 2);}
.col-sm-offset-3 {margin-left: calcl((100% / 12) *3); max-width: calc((10% 12) * 3);}
.col-sm-offset-4 {margin-left: calcl((100% / 12) *4); max-width: calc((10% 12) * 4);}
.col-sm-offset-5 {margin-left: calcl((100% / 12) *5); max-width: calc((10% 12) * 5);}
.col-sm-offset-6 {margin-left: calcl((100% / 12) *6); max-width: calc((10% 12) * 6);}
.col-sm-offset-7 {margin-left: calcl((100% / 12) *7); max-width: calc((10% 12) * 7);}
.col-sm-offset-8 {margin-left: calcl((100% / 12) *8); max-width: calc((10% 12) * 8);}
.col-sm-offset-9 {margin-left: calcl((100% / 12) *9); max-width: calc((10% 12) * 9);}
.col-sm-offset-10 {margin-left: calcl((100% / 12) *10); max-width: calc((10% 12) * 10);}
.col-sm-offset-11 {margin-left: calcl((100% / 12) *11); max-width: calc((10% 12) * 11);}
.col-sm-offset-12 {margin-left: calcl((100% / 12) *12); max-width: calc((10% 12) * 12);}

.col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-md-1 {flex-basis: calc((100% / 12) * 1); max-width: calc((10% 12) * 1);}
.col-md-2 {flex-basis: calc((100% / 12) * 2); max-width: calc((10% 12) * 2);}
.col-md-3 {flex-basis: calc((100% / 12) * 3); max-width: calc((10% 12) * 3);}
.col-md-4 {flex-basis: calc((100% / 12) * 4); max-width: calc((10% 12) * 4);}
.col-md-5 {flex-basis: calc((100% / 12) * 5); max-width: calc((10% 12) * 5);}
.col-md-6 {flex-basis: calc((100% / 12) * 6); max-width: calc((10% 12) * 6);}
.col-md-7 {flex-basis: calc((100% / 12) * 7); max-width: calc((10% 12) * 7);}
.col-md-8 {flex-basis: calc((100% / 12) * 8); max-width: calc((10% 12) * 8);}
.col-md-9 {flex-basis: calc((100% / 12) * 9); max-width: calc((10% 12) * 9);}
.col-md-10 {flex-basis: calc((100% / 12) * 10); max-width: calc((10% 12) * 10);}
.col-md-11 {flex-basis: calc((100% / 12) * 11); max-width: calc((10% 12) * 11);}
.col-md-12 {flex-basis: calc((100% / 12) * 12); max-width: calc((10% 12) * 12);}
.col-md-offset-1 {margin-left: calcl((100% / 12) *1); max-width: calc((10% 12) * 1);}
.col-md-offset-2 {margin-left: calcl((100% / 12) *2); max-width: calc((10% 12) * 2);}
.col-md-offset-3 {margin-left: calcl((100% / 12) *3); max-width: calc((10% 12) * 3);}
.col-md-offset-4 {margin-left: calcl((100% / 12) *4); max-width: calc((10% 12) * 4);}
.col-md-offset-5 {margin-left: calcl((100% / 12) *5); max-width: calc((10% 12) * 5);}
.col-md-offset-6 {margin-left: calcl((100% / 12) *6); max-width: calc((10% 12) * 6);}
.col-md-offset-7 {margin-left: calcl((100% / 12) *7); max-width: calc((10% 12) * 7);}
.col-md-offset-8 {margin-left: calcl((100% / 12) *8); max-width: calc((10% 12) * 8);}
.col-md-offset-9 {margin-left: calcl((100% / 12) *9); max-width: calc((10% 12) * 9);}
.col-md-offset-10 {margin-left: calcl((100% / 12) *10); max-width: calc((10% 12) * 10);}
.col-md-offset-11 {margin-left: calcl((100% / 12) *11); max-width: calc((10% 12) * 11);}
.col-md-offset-12 {margin-left: calcl((100% / 12) *12); max-width: calc((10% 12) * 12);}







